body {
    
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    /*font-family: "Yanone Kaffeesatz", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.25rem !important;*/
    display:flex;
    flex-direction:column;
    min-height: 100vh;

}
.container{
    flex:1;
    
}

.navbar {
    height: 5rem; /* Increase height of navbar */
    background-color: #102C57;
}

.fa-compass {
    color: #EADBC8;
    font-size: 4rem;
}

.nav-link {
    color: white !important;
    font-weight:600 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none !important;
    color: #222222 !important;
}

.f-info-links a:hover {
    text-decoration: underline !important;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: rgb(230, 225, 225);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Changed to 'center' */
}

.f-info-socials, .f-info-links, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.5rem;
}


.btn-primary {
    background-color: #102C57 !important;
}

/* cards */
.card.listing-card {
    border: none !important;
    box-shadow: none !important; /* If there's a shadow */
    outline: none !important;    /* In case an outline is showing */
    margin-bottom: 2rem;
}


.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0;
}
.card-title{
    font-size: 1.5rem !important;
}
.listing-link{
    text-decoration: none;
    color:black;
}
.card-img-overlay{
    opacity: 0 !important;
}
.card-img-overlay:hover{
    opacity:0.2 !important;
    background-color: white !important;
}
.create-btn, .edit-btn{
    background-color:#102C57 !important;
}
.show-img{
    height:30vh;
    width:30vh;
}
.navbar-text {
    font-weight: bold !important;
    font-size: 2.5rem !important; /* Adjust size as needed */
    color: #e9ecf1 !important; /* Adjust color as needed */
}
/*reviews*/

/*maps*/
#map{
    height:400px;
    width:100vh;
}
.btn-search{
    background-color: #EADBC8 !important;
    color:black !important;
}
